.img{
    width: 200px;
    padding: auto;
}
.producto{
    border: 2px solid rgb(5, 187, 87);
    max-width: auto;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    display: grid;
    
}
.detalles{
    border-radius: 5px ;
    border: 1px solid blue;
    padding: 4px;
     display: grid;
     place-content: center;
     align-items: center;
}
.producto:hover{
    border: 0.5px ridge black;
}